<p class="form-field _wcpp_promoted_expiration_date_field ">
    <label for="{{ field_id }}">{{ field_label }}</label>
    <input type="text" class="short datetime-picker" name="{{ field_id }}" id="{{ field_id }}"
           value="{{ field_value }}" placeholder="{{ field_placeholder }}" maxlength="16">
</p>